/.DS_Store
.vscode
/repositories/__pycache__/
/repositoriesServerREST/__pycache__/
/repositoryConnectorsSHPREST/__pycache__/
/syncInfrastructureSHPREST/__pycache__/
/repositoriesLocalSHP/__pycache__/
/NetworkAnalysis/__pycache__/
/NetworkAnalysis/.DS_Store
/ui/__pycache__/
/maptools/__pycache__/
/__pycache__
/ui/.DS_Store
/inpProcessing/__pycache__/
/repositories/.DS_Store
/updateTools/__pycache__/
/unitofwork/__pycache__
/ActionManagement/__pycache__
/toolbarManager/__pycache__/
/toolsMap/__pycache__/
/toolsProcess/__pycache__/